connect = "host=127.0.0.1 dbname=vmail user=vmail password={{mysql_vmail_password}}"

map {
  pattern = priv/quota/storage
  table = quota
  username_field = username
  value_field = bytes
}
map {
  pattern = priv/quota/messages
  table = quota
  username_field = username
  value_field = messages
}
